body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #9ecdff;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  color: rgb(255, 255, 255);
  background-color: #0056b3;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1.5rem 0;
}

.main-nav a:hover {
  background-color: #c10202;
}


form input,
form textarea {
  display: block;
  width: 96%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  color: white;
  background: none;
  background-color: #0056b3;
  border: 2px solid #7ebbfb;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}

.image-container {
  width: 100％;
  height: 255px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.skip-link {
  position: fixed;
  top: 20px;
  right: 20px;
  /* background-color: #007bff; */
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.skip-link {
  background-color: #0056b3;
}